.tile-inner {
  background: #09f;
  border-radius: 0;
}

.flipper {
  width: 100%;
  height: 100%;
  position: relative;
}

.tile {
  line-height: 12px;
  font-size: 12px;
}

.mask {
  background: #09f;
}

.sw {
	position: absolute;
	width: 2400px;
}

.sw-col {
	float: left;
	position: relative;
	width: 200px;
}

.sw-block {
	width: 200px;
}

.sw-block .fill-image {
  background-size: cover;
  height: 100%;
}

.sw-block-1 {
	height: 100px;
}

.sw-block-2 {
	height: 200px;
}

.sw-block-3 {
	height: 300px;
}

.sw-block-4 {
	height: 400px;
}

.head img {
  width: 100%;
  height: auto;
}

.content-overlay {
  position: absolute;
  z-index: 900;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 12px;
  overflow: hidden;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
